*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFFBED;
  font-family: sans-serif;
}

.container {
  max-width: 1337px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.fixed {
  position: fixed;
}

button {
  cursor: pointer;
}

.footer {
  max-width: 1680px;
  height: 400px;
  background: #fff;
}
.footer .footer_container {
  padding: 60px 70px;
}
.footer .footer_container .listes {
  display: flex;
}
.footer .footer_container .listes .footer_list {
  line-height: 40px;
}
.footer .footer_container .listes .footer_list .list_item {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  max-width: 300px;
  margin-right: 20px;
}
.footer .footer_container .listes .footer_list .list_item p {
  width: 80%;
  color: grey;
}
.footer .footer_container .listes .footer_list .list_item img {
  vertical-align: middle;
  margin-right: 10px;
}
.footer .footer_container .listes .footer_list .imgs_list_item {
  width: 210px;
}
.footer .footer_container .listes .footer_list .imgs_list_item img {
  margin-left: 10px;
}
.footer .footer_container .listes .footer_list .imgs_list_item img:nth-child(1) {
  margin-left: 0 !important;
}
.footer .footer_container .listes .footer_list .imgs_list_item img:nth-child(5) {
  margin-left: 0 !important;
}

.header {
  max-width: 1680px;
  background: #FFFBED;
}
.header .header_container {
  max-width: 1340px;
  display: flex;
  justify-content: space-between;
}
.header .header_container .header_ol_list {
  width: 450px;
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  border-right: 1px solid #F4F0E6;
  align-items: center;
}
.header .header_container .header_ol_list .list_item {
  cursor: pointer;
}
.header .header_container .header_ul_list {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #F4F0E6;
  padding-right: 1rem;
}
.header .header_container .header_ul_list .list_item {
  cursor: pointer;
}
.header .header_container .header_ul_list .list_item span {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: sans-serif;
}
.header .header_container .header_ul_list .list_item button {
  width: 136px;
  height: 30px;
  border: 1px solid #FD9339;
  border-radius: 4px;
  background: transparent;
  font-family: sans-serif;
  color: #FD9339;
  display: flex;
  align-items: center;
}
.header .header_container .header_ul_list .list_item button:hover {
  background: #FD9339;
  color: #fff;
}
.header .header_container .header_ul_list .list_item button span {
  font-size: 12px;
  padding: 0 0.3rem;
}
.header .header_container .header_right {
  display: flex;
  gap: 10px;
}
.header .header_container .header_right .right_text {
  font-family: sans-serif;
}
.header .header_container .header_right .right_text .right_sum_text {
  text-align: right;
  padding-left: 2rem;
}
.header .header_container .header_right .header_right_btn {
  background: transparent;
  border: none;
  padding-left: 1rem;
  cursor: pointer;
}
.header .korzina {
  width: 500px;
  height: 570px;
  position: absolute;
  right: 3rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 18px 0px rgba(102, 79, 0, 0.1019607843);
  display: none;
}
.header .korzina .icon .bi {
  position: absolute;
  top: -4%;
  right: 8%;
  color: #fff;
  width: 2rem;
  height: 2rem;
}
.header .korzina .title {
  max-width: 500px;
  padding: 1.5rem;
  border-bottom: 1px solid #E7E7E7;
}
.header .korzina .title h2 {
  font-size: 22px;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
}
.header .korzina .boughted_box {
  padding: 1.5rem;
}
.header .korzina .boughted_box .top {
  display: flex;
}
.header .korzina .boughted_box .top .icon_close {
  cursor: pointer;
}
.header .korzina .boughted_box .product {
  margin-bottom: 1rem;
  display: flex;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #E7E7E7;
}
.header .korzina .boughted_box .product .product_img {
  padding-right: 1rem;
}
.header .korzina .boughted_box .product .product_img img {
  width: 120px;
  height: 120px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}
.header .korzina .boughted_box .product .product_name {
  font-family: "Varela Round", sans-serif;
}
.header .korzina .boughted_box .product .product_name .product_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .korzina .boughted_box .product .product_name .product_btns {
  display: flex;
  max-width: 108px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  margin-top: 2.6rem;
}
.header .korzina .boughted_box .product .product_name .product_btns button {
  width: 36px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: 1px solid #E7E7E7;
}
.header .korzina .boughted_box .product .product_name .product_btns button:hover {
  background: #E7E7E7;
}
.header .korzina .boughted_box .product .product_name .product_btns button:nth-child(2):hover {
  background: transparent;
}
.header .korzina .boughted_box .product .product_name .product_summ {
  margin-top: 2.5rem;
}
.header .korzina .korzina_list {
  padding: 0 30px;
}
.header .korzina .korzina_list .list .list_item h2 {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  line-height: 45px;
}
.header .korzina .korzina_list .bottom_btn {
  display: flex;
  justify-content: center;
}
.header .korzina .korzina_list .bottom_btn button {
  padding: 1rem 3rem;
  width: 420px;
}
.header .navbar {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}
.header .navbar .nav_list {
  display: flex;
  max-width: 1600px;
  font-family: sans-serif;
  justify-content: space-between;
  gap: 11px;
  padding: 10px;
  padding-right: 110px;
  border-right: 1px solid #e0ddd3;
}
.header .navbar .nav_list .list_item {
  cursor: pointer;
}
.header .navbar .nav_input_search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
.header .navbar .nav_input_search input {
  max-width: 675px;
  height: 22px;
  margin-left: 1rem;
  outline: none;
  background: transparent;
  border: none;
}
.header .navbar .nav_input_search input::-moz-placeholder {
  font-family: sans-serif;
}
.header .navbar .nav_input_search input::placeholder {
  font-family: sans-serif;
}
.header .navbar .nav_input_search button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .dropdown {
  position: absolute;
  width: 250px;
  height: 396px;
  left: 2.5%;
  background: #fff;
  box-shadow: 0px 2px 18px 0px rgba(102, 79, 0, 0.1019607843);
  display: none;
}
.header .dropdown .dropdown_list .list_item {
  max-width: 250px;
  height: 44px;
  padding: 0.65rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.header .dropdown .dropdown_list .list_item:hover {
  background: rgba(253, 148, 57, 0.2039215686);
  color: #FD9339;
}

.hero .hero_container .hero_imgs {
  max-width: 1176px;
  height: 300px;
  background-image: url("../assets/imgs/hero_img.png");
  margin-bottom: 3rem;
}
.hero .hero_container .hero_imgs .hero_btn_1 {
  width: 200px;
  height: 46px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background: #ff9f4a;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 14rem;
  margin-left: 1.85rem;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.hero .hero_container .hero_imgs .hero_btn_1:hover {
  background: #fc9032;
}
.hero .hero_container .hero_end {
  display: flex;
  gap: 30px;
}
.hero .hero_container .hero_end .hero_carousels {
  font-family: "Varela Round";
}
.hero .hero_container .hero_end .hero_carousels .left_carousel {
  width: 280px;
  height: 385px;
  border: 1px solid rgb(71, 56, 56) 71, 56, 56;
  margin-bottom: 2rem;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .title {
  background: #FBE8BB !important;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .title img {
  padding-right: 1rem;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .title span {
  font-weight: 700;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  max-width: 280px;
  border: 1px solid #E6E6E6;
  background: #fff;
  cursor: pointer;
  height: 48px;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item span {
  width: 200px;
  font-family: sans-serif;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item .dropright {
  display: flex;
  margin-left: 2rem;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item .dropright img {
  width: 12px;
  height: 12px;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 {
  width: 280px;
  height: 385px;
  border: 1px solid rgb(71, 56, 56) 71, 56, 56;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .title {
  background: #FBE8BB !important;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .title img {
  padding-right: 1rem;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .title span {
  font-weight: 700;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding: 1rem 2rem;
  max-width: 280px;
  border: 1px solid #E6E6E6;
  background: #fff;
  cursor: pointer;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item span {
  width: 200px;
  font-family: sans-serif;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item .dropright {
  display: flex;
  margin-left: 2rem;
}
.hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item .dropright img {
  width: 12px;
  height: 12px;
}
.hero .hero_container .hero_end .hero_products {
  width: 864px;
}
.hero .hero_container .hero_end .hero_products .product_btn {
  padding-bottom: 40px;
}
.hero .hero_container .hero_end .hero_products .product_btn button {
  background: transparent;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  margin-right: 25px;
  color: #808080;
}
.hero .hero_container .hero_end .hero_products .products_card_box {
  max-width: 864px;
  height: 660px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card {
  margin-bottom: 3rem;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .products_title {
  padding-bottom: 25px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .products_title h2 {
  font-size: 22px;
  font-family: "Roboto";
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards {
  margin-bottom: 1rem;
  max-width: 864px;
  display: flex;
  gap: 10px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card {
  text-align: center;
  width: 208px;
  height: 300px;
  background: #fff;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .checkes {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .checkes img {
  cursor: pointer;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .name {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  max-width: 200px;
  font-family: "Roboto";
  border-bottom: 1px solid #E6E6E6;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .name p {
  font-size: 16px;
  text-align: left;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .summa_and_btn {
  text-align: left;
  padding: 0 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .summa_and_btn .summa p {
  padding-bottom: 0.5rem;
  font-family: "Roboto";
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .summa_and_btn .summa p span {
  font-size: 12px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .summa_and_btn .summa del {
  color: rgb(255, 0, 0);
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .summa_and_btn .btn button {
  padding: 0.2rem;
  max-width: 90px;
  font-family: "Roboto";
  height: 38px;
  background: #ff9f4a;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .first_box_card .product_cards .product_card .summa_and_btn .btn button:hover {
  background-color: #fc9032;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .products_title {
  padding-bottom: 25px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .products_title h2 {
  font-size: 22px;
  font-family: "Roboto";
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards {
  margin-bottom: 1rem;
  max-width: 864px;
  display: flex;
  gap: 10px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card {
  text-align: center;
  width: 208px;
  height: 300px;
  background: #fff;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .checkes {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .checkes img {
  cursor: pointer;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .name {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  max-width: 200px;
  font-family: "Roboto";
  border-bottom: 1px solid #E6E6E6;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .name p {
  font-size: 16px;
  text-align: left;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .summa_and_btn {
  text-align: left;
  padding: 0 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .summa_and_btn .summa p {
  padding-bottom: 0.5rem;
  font-family: "Roboto";
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .summa_and_btn .summa p span {
  font-size: 12px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .summa_and_btn .summa del {
  color: rgb(255, 0, 0);
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .summa_and_btn .btn button {
  padding: 0.2rem;
  max-width: 90px;
  font-family: "Roboto";
  height: 38px;
  background: #ff9f4a;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.hero .hero_container .hero_end .hero_products .products_card_box .second_box_card .product_cards .product_card .summa_and_btn .btn button:hover {
  background-color: #fc9032;
}

.blog__post .hero__flex {
  width: 100%;
  padding: 50px;
  display: flex;
}
.blog__post .hero {
  width: 20%;
}
.blog__post .hero .hero_container .hero_imgs {
  max-width: 1176px;
  height: 300px;
  background-image: url("../assets/imgs/hero_img.png");
  margin-bottom: 3rem;
}
.blog__post .hero .hero_container .hero_imgs .hero_btn_1 {
  width: 200px;
  height: 46px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background: #ff9f4a;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 14rem;
  margin-left: 1.85rem;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.blog__post .hero .hero_container .hero_imgs .hero_btn_1:hover {
  background: #fc9032;
}
.blog__post .hero .hero_container .hero_end {
  display: flex;
  gap: 30px;
}
.blog__post .hero .hero_container .hero_end .hero_carousels {
  font-family: "Varela Round";
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel {
  width: 280px;
  height: 385px;
  border: 1px solid rgb(71, 56, 56) 71, 56, 56;
  margin-bottom: 2rem;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .title {
  background: #FBE8BB !important;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .title img {
  padding-right: 1rem;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .title span {
  font-weight: 700;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  max-width: 280px;
  border: 1px solid #E6E6E6;
  background: #fff;
  height: 48px;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item span {
  width: 200px;
  font-family: sans-serif;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item .dropright {
  display: flex;
  margin-left: 2rem;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel .carousel_list .list_item .dropright img {
  width: 12px;
  height: 12px;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 {
  width: 280px;
  height: 385px;
  border: 1px solid rgb(71, 56, 56) 71, 56, 56;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .title {
  background: #FBE8BB !important;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .title img {
  padding-right: 1rem;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .title span {
  font-weight: 700;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding: 1rem 2rem;
  max-width: 280px;
  border: 1px solid #E6E6E6;
  background: #fff;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item span {
  width: 200px;
  font-family: sans-serif;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item .dropright {
  display: flex;
  margin-left: 2rem;
}
.blog__post .hero .hero_container .hero_end .hero_carousels .left_carousel_2 .carousel_list .list_item .dropright img {
  width: 12px;
  height: 12px;
}
.blog__post .blogs {
  padding: 30px;
}
.blog__post .blogs .homeveno h2 {
  text-transform: uppercase;
  font-size: 28px;
  color: #4E2D2D;
  margin-bottom: 50px;
}
.blog__post .blogs .homesoc h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #4E2D2D;
}
.blog__post .blogs .homesoc .home__soc__p2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.blog__post .blogs .cardsob h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #4E2D2D;
}
.blog__post .blogs .cardsob .cardsop1 {
  margin-bottom: 20px;
}
.blog__post .blogs .cardsob .cardsob__card {
  display: flex;
  background-color: #fff;
  padding: 30px;
  width: Hug 820px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}
.blog__post .blogs .cardsob .cardsob__card img {
  padding-right: 20px;
}
.blog__post .cardspop {
  padding-bottom: 50px;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}
.blog__post .cardspop h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #4E2D2D;
}
.blog__post .cardspop .cardspop__cards {
  display: flex;
  gap: 30px;
}
.blog__post .cardspop .cardspop__cards .cardspop__card {
  background-color: #ffffff;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}
.blog__post .cardspop .cardspop__cards .cardspop__card .cardspop__card__cel {
  padding-left: 20px;
  padding-right: 25px;
}
.blog__post .cardspop .cardspop__cards .cardspop__card .cardsuper {
  text-transform: uppercase;
  color: #4E2D2D;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog__post .cardspop .cardspop__cards .cardspop__card .cardspop__citats {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
}
.blog__post .cardspop .cardspop__cards .cardspop__card .cardspop__citats .cardspop__citat {
  color: #FD9339;
}

.retsept__container {
  display: none;
}
.retsept__container .retsept__card .retsept__item img {
  position: absolute;
  top: 0px;
}
.retsept__container .retsept__card .sir__title {
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 10px;
}
.retsept__container .retsept__card .retsept__item {
  width: 280px;
  height: 140px;
  position: relative;
}
.retsept__container .yaqinda__qushilgan .yaqinda__qushilgan__title {
  background-color: #fff;
}
.retsept__container .yaqinda__qushilgan p,
.retsept__container .yaqinda__qushilgan h5 {
  font-size: 16px;
  width: 280px;
  padding: 15px;
}
.retsept__container .yaqinda__qushilgan button {
  border: none;
  background-color: inherit;
  color: goldenrod;
  text-decoration: underline;
}
.retsept__container .retsept__card,
.retsept__container .yaqinda__qushilgan_card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.retsept__container .card__title {
  margin-bottom: 2%;
  margin-top: 5%;
}
.retsept__container button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background: rgb(253, 147, 57);
  color: rgb(255, 255, 255);
  margin-top: 5%;
}

.sir__tavsiv .tavsiv__title {
  margin: 5% 0px 2% 0px;
}
.sir__tavsiv .retsept__sir__text {
  width: 90%;
  color: rgb(82, 82, 82);
}
.sir__tavsiv .retsept__sir__text p {
  margin-top: 15px;
}
.sir__tavsiv .sir__haqida_img {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.sir__tavsiv .sir__haqida_img img {
  margin: 0px 15px;
}
.sir__tavsiv .retsept__korzinka {
  background: rgb(255, 245, 214);
  padding: 20px;
  margin-top: 10px;
}
.sir__tavsiv .retsept__korzinka table {
  width: 100%;
}
.sir__tavsiv .retsept__korzinka table button {
  width: 93px;
}
.sir__tavsiv .retsept__korzinka .left-align {
  text-align: left;
}
.sir__tavsiv .retsept__korzinka .right-align {
  text-align: right;
}
.sir__tavsiv .retsept__korzinka .table__title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.sir__tavsiv .retsept__korzinka td {
  padding: 8px 0px;
}
.sir__tavsiv .retsept__korzinka button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background: rgb(253, 147, 57);
  color: rgb(255, 255, 255);
}
.sir__tavsiv .tayorlash__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
}
.sir__tavsiv .tayorlash__box h1 {
  padding: 15px;
  color: rgb(253, 147, 57);
}
.sir__tavsiv .tayorlash__box p {
  line-height: 25px;
  width: 800px;
  padding: 15px;
}
.sir__tavsiv .mashxur__retseptlar__text ol {
  list-style: disc;
  margin-left: 20px;
}
.sir__tavsiv .mashxur__retseptlar__text p {
  margin: 20px 0px;
}
.sir__tavsiv .vino__img {
  margin: 20px 0px;
}

.popular__retsept .yaqinda__qushilgan_card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 10px;
  padding: 15px;
}
.popular__retsept .yaqinda__qushilgan_card .yaqinda__qushilgan_item {
  background-color: #fff;
  width: 280px;
}
.popular__retsept .yaqinda__qushilgan_card .yaqinda__qushilgan_item p,
.popular__retsept .yaqinda__qushilgan_card .yaqinda__qushilgan_item h5 {
  padding: 10px 10px 0px 10px;
}
.popular__retsept .yaqinda__qushilgan_card button {
  padding: 17px 7px;
  border: none;
  background-color: inherit;
  color: goldenrod;
  text-decoration: underline;
}

.davomi {
  width: 150px;
  margin: 5% auto;
}

.modal__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 1111;
}
.modal__container .modal__menu {
  width: 480px;
  margin: 6% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}
.modal__container .modal__box {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
}
.modal__container .modal__title {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 5%;
}
.modal__container .modal__title button {
  border: none;
  background-color: inherit;
}
.modal__container .modal__text h4 {
  padding: 10px 0px;
}
.modal__container .modal__text span {
  color: rgb(253, 147, 57);
}
.modal__container .modal__text button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background: rgb(253, 147, 57);
  color: rgb(255, 255, 255);
  margin-top: 5%;
}

.aside {
  max-width: 1680px;
  display: flex;
  background: #FFFBED;
  align-items: center;
}
.aside .aside_container {
  display: flex;
  width: 1680px;
  justify-content: space-between;
}
.aside .aside_container .aside_ul_list {
  max-width: 500px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
}
.aside .aside_container .aside_ul_list .list_item button {
  display: flex;
  max-width: 15rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
}
.aside .aside_container .aside_ul_list .list_item button span {
  padding: 0 10px;
}
.aside .aside_container .aside_ol_list {
  display: flex;
  width: 630px;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}
.aside .aside_container .aside_ol_list .list_item {
  cursor: pointer;
}
.aside .aside_container .aside_ol_list .list_item button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}
.aside .aside_container .aside_ol_list .list_item button span {
  padding: 0 10px;
}/*# sourceMappingURL=main.css.map */