.retsept__container {
  display: none;
}
.retsept__container .retsept__card .retsept__item img {
  position: absolute;
  top: 0px;
}
.retsept__container .retsept__card .sir__title {
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 10px;
}
.retsept__container .retsept__card .retsept__item {
  width: 280px;
  height: 140px;
  position: relative;
}
.retsept__container .yaqinda__qushilgan .yaqinda__qushilgan__title {
  background-color: #fff;
}
.retsept__container .yaqinda__qushilgan p,
.retsept__container .yaqinda__qushilgan h5 {
  font-size: 16px;
  width: 280px;
  padding: 15px;
}
.retsept__container .yaqinda__qushilgan button {
  border: none;
  background-color: inherit;
  color: goldenrod;
  text-decoration: underline;
}
.retsept__container .retsept__card,
.retsept__container .yaqinda__qushilgan_card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.retsept__container .card__title {
  margin-bottom: 2%;
  margin-top: 5%;
}
.retsept__container button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background: rgb(253, 147, 57);
  color: rgb(255, 255, 255);
  margin-top: 5%;
}

.sir__tavsiv .tavsiv__title {
  margin: 5% 0px 2% 0px;
}
.sir__tavsiv .retsept__sir__text {
  width: 90%;
  color: rgb(82, 82, 82);
}
.sir__tavsiv .retsept__sir__text p {
  margin-top: 15px;
}
.sir__tavsiv .sir__haqida_img {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.sir__tavsiv .sir__haqida_img img {
  margin: 0px 15px;
}
.sir__tavsiv .retsept__korzinka {
  background: rgb(255, 245, 214);
  padding: 20px;
  margin-top: 10px;
}
.sir__tavsiv .retsept__korzinka table {
  width: 100%;
}
.sir__tavsiv .retsept__korzinka table button {
  width: 93px;
}
.sir__tavsiv .retsept__korzinka .left-align {
  text-align: left;
}
.sir__tavsiv .retsept__korzinka .right-align {
  text-align: right;
}
.sir__tavsiv .retsept__korzinka .table__title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.sir__tavsiv .retsept__korzinka td {
  padding: 8px 0px;
}
.sir__tavsiv .retsept__korzinka button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background: rgb(253, 147, 57);
  color: rgb(255, 255, 255);
}
.sir__tavsiv .tayorlash__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
}
.sir__tavsiv .tayorlash__box h1 {
  padding: 15px;
  color: rgb(253, 147, 57);
}
.sir__tavsiv .tayorlash__box p {
  line-height: 25px;
  width: 800px;
  padding: 15px;
}
.sir__tavsiv .mashxur__retseptlar__text ol {
  list-style: disc;
  margin-left: 20px;
}
.sir__tavsiv .mashxur__retseptlar__text p {
  margin: 20px 0px;
}
.sir__tavsiv .vino__img {
  margin: 20px 0px;
}

.popular__retsept .yaqinda__qushilgan_card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 10px;
  padding: 15px;
}
.popular__retsept .yaqinda__qushilgan_card .yaqinda__qushilgan_item {
  background-color: #fff;
  width: 280px;
}
.popular__retsept .yaqinda__qushilgan_card .yaqinda__qushilgan_item p,
.popular__retsept .yaqinda__qushilgan_card .yaqinda__qushilgan_item h5 {
  padding: 10px 10px 0px 10px;
}
.popular__retsept .yaqinda__qushilgan_card button {
  padding: 17px 7px;
  border: none;
  background-color: inherit;
  color: goldenrod;
  text-decoration: underline;
}

.davomi {
  width: 150px;
  margin: 5% auto;
}

.modal__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 1111;
}
.modal__container .modal__menu {
  width: 480px;
  margin: 6% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}
.modal__container .modal__box {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
}
.modal__container .modal__title {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 5%;
}
.modal__container .modal__title button {
  border: none;
  background-color: inherit;
}
.modal__container .modal__text h4 {
  padding: 10px 0px;
}
.modal__container .modal__text span {
  color: rgb(253, 147, 57);
}
.modal__container .modal__text button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background: rgb(253, 147, 57);
  color: rgb(255, 255, 255);
  margin-top: 5%;
}