*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  background: #FFFBED;
  font-family: sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  background-color: #FBE8BB;
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: #FD9339;
  border-radius: 6px;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #FFFBED;
  font-family: sans-serif;
}

.container{
  max-width: 1337px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
}

ol,ul{
  list-style: none;
}

// img{
//   object-fit: cover;
// }

.d-block{
  display: block !important;
}

.d-none{
  display: none !important;
}
a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

// img {
//   object-fit: cover;
// }

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.fixed {
  position: fixed;
}