doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- CSS
        link(rel="stylesheet", href="../css/main.css")
        //- FavIcon
        link(rel="icon", href="../assets/reviews-img/Group 282.svg")
        //- Title
        title Cheesemaking-shop
    body 
        //- Aside Start 
        include ./components/aside.pug
        //- Aside Start 

        //- HEADER START
        include ./components/header.pug
        //- HEADER END

        //- main start
        main 
            div.container
                div.element
                    p Главная
                    img(src="../assets/logos/dropright.svg", alt="")
                    p.element__p О нашей компании
                div.items-grid
                    div.hero
                        .hero_container
                            .hero_end 
                                .hero_carousels
                                    .left_carousel   
                                        ol.carousel_list 
                                            li.list_item.title  
                                                img(src="../assets/logos/cheese.svg" alt="")
                                                span Ингредиенты
                                            li.list_item 
                                                span Закваски для сыра
                                                .dropright 
                                                    img(src="../assets/logos/dropright.svg" alt="")
                                            li.list_item 
                                                span Ферменты для сыра
                                                .dropright 
                                                    img(src="../assets/logos/dropright.svg" alt="")
                                            li.list_item 
                                                span Хлористый кальций
                                                //- .dropright 
                                                //-     img(src="../../assets/06.BlogPost/dropright.svg" alt="")             
                                            li.list_item 
                                                span Плесень для сыра
                                                .dropright 
                                                    img(src="../assets/logos/dropright.svg" alt="")
                                            li.list_item 
                                                span Кисломолочные закваски
                                                .dropright 
                                                    img(src="../assets/logos/dropright.svg" alt="")
                                            li.list_item 
                                                span Красители для сыра 
                                                //- .dropright 
                                                //-     img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                            li.list_item
                                                span Специи для сыра
                                                .dropright 
                                                    img(src="../assets/logos/dropright.svg" alt="") 
                                    .left_carousel_2  
                                        ol.carousel_list 
                                            li.list_item.title  
                                                img(src="../assets//logos/bowl.svg" alt="")
                                                span Оборудование
                                            li.list_item 
                                                span Формы для сыра
                                                .dropright 
                                                    img(src="../assets/logos/dropright.svg" alt="")
                                            li.list_item 
                                                span Латексное покрытие
                                                //- .dropright 
                                                //-     img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                            li.list_item 
                                                span Воск для сыра
                                                .dropright 
                                                    img(src="../assets/logos/dropright.svg" alt="")             
                                            li.list_item 
                                                span Термоусадочные пакеты
                                                //- .dropright 
                                                //-     img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                            li.list_item 
                                                span Дренажные коврики
                                                //- .dropright 
                                                //-     img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                            li.list_item 
                                                span Дренажные мешки и салфетки для прессования 
                                                //- .dropright 
                                                //-     img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                            li.list_item
                                                span Дренажные контейнеры
                                                //- .dropright 
                                                //-     img(src="../../assets/06.BlogPost/dropright.svg" alt="") 
        //- footer start
        include ./components/footer.pug
        //- footer end