
<aside class="aside"> 
  <div class="container aside_container"> 
    <ul class="aside_ul_list"> 
      <li class="list_item"> <a class="list_link" href="#">
          <button> <img src="./assets/logos/location.svg" alt=""/><span>Ваш город: Москва</span><img src="./assets/logos/dropdown.svg" alt=""/></button></a></li>
      <li class="list_item"> <a class="list_link" href="#">
          <button> <img src="./assets/logos/o'clock.svg" alt=""/><span>Пн-Пт 9:00 - 19:00</span></button></a></li>
    </ul>
    <ol class="aside_ol_list"> 
      <li class="list_item">О компании</li>
      <li class="list_item">Преимущества</li>
      <li class="list_item">Акционные товары</li>
      <li class="list_item"> 
        <button>         <img src="./assets/logos/user.svg" alt=""/><span>Войти в аккаунт</span></button>
      </li>
    </ol>
  </div>
</aside>