<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Collecttions</title>
  </head>
  <body> 
    <header class="header"> 
      <div class="container header_container"> 
        <div class="logo">  <a class="logo_link" href="#1"> <img class="logo_img" src="../../assets/logos/logo.svg" alt=""></a></div>
        <ol class="header_ol_list"> 
          <li class="list_item"> <img src="../../assets/logos/li_1.svg" alt=""></li>
          <li class="list_item"> <img src="../../assets/logos/li_2.svg" alt=""></li>
          <li class="list_item"> <img src="../../assets/logos/li_3.svg" alt=""></li>
        </ol>
        <ul class="header_ul_list"> 
          <li class="list_item"> <img src="../../assets/imgs/Telegram.png" alt=""></li>
          <li class="list_item"><img src="../../assets/imgs/WhatsUp.png" alt=""></li>
          <li class="list_item"> <img src="../../assets/imgs/Messenger.png" alt=""></li>
          <li class="list_item"> <span>+8 916 460-19-60</span><br>
            <button> <img class="header_btn_img" src="../../assets/logos/phone.svg" alt=""><span>Заказать звонок</span></button>
          </li>
        </ul>
        <div class="header_right"> 
          <div class="right_text"> <span>Ваша корзина</span><br><br><span class="right_sum_text">1680 руб.</span></div>
          <button class="header_right_btn" id="korzina"> <img src="../../assets/logos/savat.svg" alt=""></button>
        </div>
      </div>
      <div class="korzina" id="korzina_box">   
        <div class="icon"> 
          <svg class="bi bi-caret-up-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
            <svg></svg>
          </svg>
        </div>
        <div class="title">
          <h2>корзина (5)</h2>
        </div>
        <div class="boughted_box">
          <div class="product">
            <div class="product_img">   <img src="../../assets/imgs/zakvaska.png" alt=""></div>
            <div class="product_name"> 
              <div class="top"> 
                <div class="name"> <span>Форма для твердого сыра 1 кг - 40 отверстий</span></div>
                <div class="icon_close"> <img class="close_icon" src="../../assets/logos/close_icon.svg" alt=""></div>
              </div>
              <div class="product_bottom"> 
                <div class="product_btns"> 
                  <button id="add_product1">+</button>
                  <button id="number">1</button>
                  <button id="remove_product1">-</button>
                </div>
                <div class="product_summ"> <b>440 руб.</b></div>
              </div>
            </div>
          </div>
          <div class="product product2">
            <div class="product_img">   <img src="../../assets/imgs/goroshka.png" alt=""></div>
            <div class="product_name"> 
              <div class="top"> 
                <div class="name"> <span>Универсальная бумага для сыра, 10 шт</span></div>
                <div class="icon_close"> <img class="close_icon2" src="../../assets/logos/close_icon.svg" alt=""></div>
              </div>
              <div class="product_bottom"> 
                <div class="product_btns"> 
                  <button id="add_product2">+</button>
                  <button id="number2">1</button>
                  <button id="remove_product2">-</button>
                </div>
                <div class="product_summ"> <b>1240 руб.</b></div>
              </div>
            </div>
          </div>
        </div>
        <div class="korzina_list"> 
          <ol class="list"> 
            <li class="list_item"> 
              <h2><b>Товаров в корзине: </b><span>5 шт.</span></h2>
            </li>
            <li class="list_item"> 
              <h2><b>Общая стоимость: </b><span>1680 руб.</span></h2>
            </li>
          </ol>
          <div class="bottom_btn"> 
            <button class="card_btn"> Оформить заказ</button>
          </div>
        </div>
      </div>
      <nav class="navbar container"> 
        <ol class="nav_list">
          <li class="list_item" id="retsept">Рецепты <span> <img src="../../assets/logos/dropdown.svg" alt=""></span></li>
          <li class="list_item">Доставка и оплата</li>
          <li class="list_item">Калькулятор Сыродела</li>
          <li class="list_item">Отзывы</li>
          <li class="list_item">Вопросы и ответы</li>
          <li class="list_item">Контакты</li>
        </ol>
        <div class="nav_input_search"> 
          <button> <img src="../../assets/logos/search.svg" alt=""></button>
          <input type="search" placeholder="Введите название товара или артикул">
        </div>
      </nav>
      <div class="dropdown">
        <ol class="dropdown_list"> 
          <li class="list_item">
             Молодые сыры</li>
          <li class="list_item">
             Полутвердые сыры</li>
          <li class="list_item">
             Паста Филата</li>
          <li class="list_item">
             Сывороточные сыры</li>
          <li class="list_item">
             Сыры с плесенью</li>
          <li class="list_item">
             Твердые сыры</li>
          <li class="list_item">
             Творожные сыры</li>
          <li class="list_item">
             Кисломолочные продукты</li>
          <li class="list_item">
             Все рецепты</li>
        </ol>
      </div>
    </header>
    <section class="hero">
      <div class="container hero_container">
        <div class="hero_end"> 
          <div class="hero_carousels">
            <div class="left_carousel">  
              <ol class="carousel_list"> 
                <li class="list_item title"> <img src="../assets/logos/cheese.svg" alt=""><span>Ингредиенты</span></li>
                <li class="list_item"> <span>Закваски для сыра</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Ферменты для сыра</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Хлористый кальций</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Плесень для сыра</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Кисломолочные закваски</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Красители для сыра </span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"><span>Специи для сыра</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
              </ol>
            </div>
            <div class="left_carousel_2"> 
              <ol class="carousel_list"> 
                <li class="list_item title"> <img src="../assets/logos/bowl.svg" alt=""><span>Оборудование</span></li>
                <li class="list_item"> <span>Формы для сыра</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Латексное покрытие</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Воск для сыра</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Термоусадочные пакеты</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Дренажные коврики</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"> <span>Дренажные мешки и салфетки для прессования </span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
                <li class="list_item"><span>Дренажные контейнеры</span>
                  <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""></div>
                </li>
              </ol>
            </div>
          </div>
          <div class="hero_products">
            <div class="product_btn" id="product_btn">
              <button class="active_btn" id="top_tovar">Популярные товары </button>
              <button id="aksiya">Акции       </button>
            </div>
            <div class="products_card_box">
              <div class="first_box_card"> 
                <div class="products_title"> 
                  <h2>Наборы для сыра</h2>
                </div>
                <div class="products__container">
                  <div class="products_container-child">
                    <div class="products__cards">
                      <div class="cards_title-imgs">  <img src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt=""><img src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt=""></div>
                      <div class="cards_big-img"><img src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (1).png" alt=""></div>
                      <div class="cards_info">    
                        <h3>Набор для начинающих на 100 л молока</h3>
                        <p>Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта</p>
                      </div>
                      <div class="cards_footer">
                        <h2>2400₽</h2>
                        <button>Добавить</button>
                      </div>
                    </div>
                    <div class="products__cards">
                      <div class="cards_title-imgs">  <img src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt=""><img src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt=""></div>
                      <div class="cards_big-img"><img src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (2).png" alt=""></div>
                      <div class="cards_info">    
                        <h3>Набор для начинающих на 100 л молока</h3>
                        <p>Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта</p>
                      </div>
                      <div class="cards_footer">
                        <h2>2400₽</h2>
                        <button>Добавить</button>
                      </div>
                    </div>
                    <div class="products__cards">
                      <div class="cards_title-imgs">  <img src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt=""><img src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt=""></div>
                      <div class="cards_big-img"><img src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (3).png" alt=""></div>
                      <div class="cards_info">    
                        <h3>Набор для начинающих на 100 л молока</h3>
                        <p>Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта</p>
                      </div>
                      <div class="cards_footer">
                        <h2>2400₽</h2>
                        <button>Добавить</button>
                      </div>
                    </div>
                    <div class="products__cards">
                      <div class="cards_title-imgs">  <img src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt=""><img src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt=""></div>
                      <div class="cards_big-img"><img src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (4).png" alt=""></div>
                      <div class="cards_info">    
                        <h3>Набор для начинающих на 100 л молока</h3>
                        <p>Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта</p>
                      </div>
                      <div class="cards_footer">
                        <h2>2400₽</h2>
                        <button>Добавить</button>
                      </div>
                    </div>
                    <div class="products__cards">
                      <div class="cards_title-imgs">  <img src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt=""><img src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt=""></div>
                      <div class="cards_big-img"><img src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (5).png" alt=""></div>
                      <div class="cards_info">    
                        <h3>Набор для начинающих на 100 л молока</h3>
                        <p>Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта</p>
                      </div>
                      <div class="cards_footer">
                        <h2>2400₽</h2>
                        <button>Добавить</button>
                      </div>
                    </div>
                    <div class="products__cards">
                      <div class="cards_title-imgs">  <img src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt=""><img src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt=""></div>
                      <div class="cards_big-img"><img src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (6).png" alt=""></div>
                      <div class="cards_info">    
                        <h3>Набор для начинающих на 100 л молока</h3>
                        <p>Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта</p>
                      </div>
                      <div class="cards_footer">
                        <h2>2400₽</h2>
                        <button>Добавить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"> 
      <div class="container footer_container"> 
        <div class="errr0rr">
          <div class="listes"> 
            <ol class="footer_list"> 
              <li class="list_item"> <a href="#"><a href="#"> </a>
                  <div class="logo"> <img src="../../assets/logos/logo.svg" alt=""></div></a></li>
              <li class="list_item"> <a href="#">
                  <p>Все материалы данного сайта являются объектами авторского права.</p></a></li>
              <li class="list_item"><a href="#">Разработка сайта: ЛяЧиз </a></li>
            </ol>
            <ol class="footer_list"> 
              <li class="list_item"> <b>Поддержка</b></li>
              <li class="list_item"> <a href="#">Вопрос-ответ</a></li>
              <li class="list_item"><a href="#">Бонусная программа</a></li>
              <li class="list_item"><a href="#">Политика конфиденциальности</a></li>
              <li class="list_item"><a href="#">Персональные данных</a></li>
            </ol>
            <ol class="footer_list"> 
              <li class="list_item"> <b>Способы оплаты</b></li>
              <li class="list_item imgs_list_item"> <img src="../../assets/logos/ruble_icon.svg" alt=""><img src="../../assets/logos/vec_icon.svg" alt=""><img src="../../assets/logos/sberbank_icon.svg" alt=""><img src="../../assets/logos/yandex_icon.svg" alt=""><img src="../../assets/logos/mastercard_icon.svg" alt=""><img src="../../assets/logos/visa_icon.svg" alt=""></li>
            </ol>
            <ol class="footer_list"> 
              <li class="list_item"> <a href="#"><b>+7 495 120-00-00</b></a></li>
              <li class="list_item"><a href="#"><img src="../../assets/logos/o'clock.svg" alt=""><span>Пн-Пт 9:00 - 19:00</span></a></li>
              <li class="list_item"><a href="#"><img src="./../assets/logos/location.svg" alt=""><span>г. Москва,  улица Свободы 1/7</span></a></li>
              <li class="list_item imgs_list_item"><a href="https://www.instagram.com/cheesemaking-shop/" target="_blank"><img src="../../assets/imgs/logo-instagram.png" alt=""></a><a href="https://vk.com" target="_blank"><img src="../../assets/imgs/logo-vk.png" alt=""></a><a href="https://twitter.com" target="_blank"><img src="../../assets/imgs/logo-twitter.png" alt=""></a><a href="https://facebook.com" target="_blank"><img src="../../assets/imgs/logo-facebook.png" alt=""></a><a href="https://www.youtube.com/@TheCheeseMakingShop/featured" target="_blank"><img src="../../assets/imgs/logo-youtube.png" alt=""></a>
                <div class="logo"> <img src="../../assets/logos/logo.svg" alt=""></div>
              </li>
              <li class="list_item"> 
                <p>Все материалы данного сайта являются объектами авторского права.</p>
              </li>
              <li class="list_item">Разработка сайта: ЛяЧиз </li>
            </ol>
            <ol class="footer_list"> 
              <li class="list_item"> <b>Способы оплаты</b></li>
              <li class="list_item imgs_list_item"><img src="../../assets/logos/ruble_icon.svg" alt=""><img src="../../assets/logos/vec_icon.svg" alt=""><img src="../../assets/logos/sberbank_icon.svg" alt=""><img src="../../assets/logos/yandex_icon.svg" alt=""><img src="../../assets/logos/mastercard_icon.svg" alt=""><img src="../../assets/logos/visa_icon.svg" alt=""></li>
            </ol>
            <ol class="footer_list"> 
              <li class="list_item"> <b>+7 495 120-00-00</b></li>
              <li class="list_item"><img src="../../assets/logos/o'clock.svg" alt=""><span>Пн-Пт 9:00 - 19:00</span></li>
              <li class="list_item"><img src="./../assets/logos/location.svg" alt=""><span>г. Москва,  улица Свободы 1/7</span></li>
              <li class="list_item imgs_list_item"><img src="../../assets/imgs/logo-instagram.png" alt=""><img src="../../assets/imgs/logo-vk.png" alt=""><img src="../../assets/imgs/logo-twitter.png" alt=""><img src="../../assets/imgs/logo-facebook.png" alt=""><img src="../../assets/imgs/logo-youtube.png" alt=""></li>
            </ol>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>