
<section class="hero">
  <div class="container hero_container">
    <div class="hero_imgs"> 
      <button class="hero_btn_1">Смотреть наборы</button>
    </div>
    <div class="hero_end"> 
      <div class="hero_carousels">
        <div class="left_carousel">  
          <ol class="carousel_list"> 
            <li class="list_item title"> <img src="../assets/logos/cheese.svg" alt=""/><span>Ингредиенты</span></li>
            <li class="list_item"> <span>Закваски для сыра</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Ферменты для сыра</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Хлористый кальций</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Плесень для сыра</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Кисломолочные закваски</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Красители для сыра </span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"><span>Специи для сыра</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
          </ol>
        </div>
        <div class="left_carousel_2"> 
          <ol class="carousel_list"> 
            <li class="list_item title"> <img src="../assets/logos/bowl.svg" alt=""/><span>Оборудование</span></li>
            <li class="list_item"> <span>Формы для сыра</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Латексное покрытие</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Воск для сыра</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Термоусадочные пакеты</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Дренажные коврики</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"> <span>Дренажные мешки и салфетки для прессования </span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
            <li class="list_item"><span>Дренажные контейнеры</span>
              <div class="dropright"> <img src="../assets/logos/dropright.svg" alt=""/></div>
            </li>
          </ol>
        </div>
      </div>
      <div class="hero_products">
        <div class="product_btn" id="product_btn">
          <button class="active_btn" id="top_tovar">Популярные товары </button>
          <button id="aksiya">Акции       </button>
        </div>
        <div class="products_card_box">
          <div class="first_box_card"> 
            <div class="products_title"> 
              <h2>Ингредиенты</h2>
            </div>
            <div class="product_cards">
              <div class="product_card">
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/zakvaska.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Мезофильная закваска Danisco CHOOZIT MM...</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>1300₽/ <span>1 шт.</span></p>
                      <del>1800₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/goroshka.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Душистый перец горошком (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>200₽/ <span>1 шт.</span></p>
                      <del>320₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/termometr.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Красный перец молотый (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>380₽/ <span>1 шт.</span></p>
                      <del>400₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/orex.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Мускатный орех моло... (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>420₽/  <span>1 шт.</span></p>
                      <del>560₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_cards">
              <div class="product_card">
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/perets.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Форма для твердого сы... 1 кг</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>1300₽/ <span>1 шт.</span></p>
                      <del>1800₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/krsny_goroshka.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Душистый перец горошком (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>200₽/ <span>1 шт.</span></p>
                      <del>320₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/krasniy_perets.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Красный перец молотый (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>380₽/ <span>1 шт.</span></p>
                      <del>400₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/orex2.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Мускатный орех моло... (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>420₽/  <span>1 шт.</span></p>
                      <del>560₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="second_box_card"> 
            <div class="products_title"> 
              <h2>Оборудование</h2>
            </div>
            <div class="product_cards">
              <div class="product_card">
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/zakvaska.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Мезофильная закваска Danisco CHOOZIT MM...</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>1300₽/ <span>1 шт.</span></p>
                      <del>1800₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/goroshka.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Душистый перец горошком (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>200₽/ <span>1 шт.</span></p>
                      <del>320₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/termometr.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Красный перец молотый (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>380₽/ <span>1 шт.</span></p>
                      <del>400₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/orex.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Мускатный орех моло... (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>420₽/  <span>1 шт.</span></p>
                      <del>560₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_cards">
              <div class="product_card">
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/perets.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Форма для твердого сы... 1 кг</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>1300₽/ <span>1 шт.</span></p>
                      <del>1800₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/krsny_goroshka.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Душистый перец горошком (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>200₽/ <span>1 шт.</span></p>
                      <del>320₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/krasniy_perets.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Красный перец молотый (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>380₽/ <span>1 шт.</span></p>
                      <del>400₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_card"> 
                <div class="card_in">
                  <div class="card_img"> <img src="../assets/imgs/orex2.png" alt="cheeseshop.com"/></div>
                  <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                  <div class="name">
                    <p>Мускатный орех моло... (100г)</p>
                  </div>
                  <div class="summa_and_btn"> 
                    <div class="summa"> 
                      <p>420₽/  <span>1 шт.</span></p>
                      <del>560₽</del>
                    </div>
                    <div class="btn">
                      <button>Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>