
<section class="prosmotr"> 
  <div class="container prosmotr_container"> 
    <div class="products_title"> 
      <h2>Просмотренные товары</h2>
    </div>
    <div class="chevrons"> <img src="../assets/logos/chevron_left.svg" alt="" id="chevronLeft"/><img src="../assets/logos/chevron_right.svg" alt="" id="chevronRight"/></div>
    <div class="prosmotr_cardes" id="prosmotr_cardes">  
      <div class="products_card_box"> 
        <div class="first_box_card"> 
          <div class="product_cards">
            <div class="product_card">
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/zakvaska.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Мезофильная закваска Danisco...</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>1300₽/ <span>1 шт.</span></p>
                    <del>1800₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card"> 
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/goroshka.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Душистый перец горошком (100г)</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>200₽/ <span>1 шт.</span></p>
                    <del>320₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card"> 
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/termometr.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Красный перец молотый (100г)</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>380₽/ <span>1 шт.</span></p>
                    <del>400₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card"> 
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/orex.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Мускатный орех моло... (100г)</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>420₽/  <span>1 шт.</span></p>
                    <del>560₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/perets.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Форма для твердого сы... 1 кг</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>1300₽/ <span>1 шт.</span></p>
                    <del>1800₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card"> 
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/krsny_goroshka.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Душистый перец горошком (100г)</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>200₽/ <span>1 шт.</span></p>
                    <del>320₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card"> 
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/krasniy_perets.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Красный перец молотый (100г)</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>380₽/ <span>1 шт.</span></p>
                    <del>400₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card"> 
              <div class="card_in">
                <div class="card_img"> <img src="../assets/imgs/orex2.png" alt="cheeseshop.com"/></div>
                <div class="checkes"> <img src="../assets/logos/checked.svg" alt=""/><img src="../assets/logos/check.svg" alt=""/></div>
                <div class="name">
                  <p>Мускатный орех моло... (100г)</p>
                </div>
                <div class="summa_and_btn"> 
                  <div class="summa"> 
                    <p>420₽/  <span>1 шт.</span></p>
                    <del>560₽</del>
                  </div>
                  <div class="btn">
                    <button>Добавить</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>