doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/main.css")
        title Document
    body 
        //- Header include
        include ../components/header.pug
        //- Header include
        .container-create-acnt
            .left 
                .container-create-acnt-child(1)
                    .title-child(1)
                        h1 Регистрация аккаунта
                        p Делайте покупки быстро и удобно, отслеживайте статус заказа и получайте скидки.
                    .menu-child(1)
                        .content-child(1)
                            img(src="", alt="")
                            h2 Возвращаем 10% бонусами
                            p При заказе на сумму от 3500 руб. и весе до 3 кг. предоставляется бесплатная доставка по всей Россиию
            .right