aside.aside 
    .container.aside_container 
        ul.aside_ul_list 
            li.list_item 
                a.list_link(href="#")
                    button 
                        img(src="./assets/logos/location.svg", alt="") 
                        span Ваш город: Москва
                        img(src="./assets/logos/dropdown.svg", alt="")

            li.list_item 
                a.list_link(href="#")
                    button 
                        img(src="./assets/logos/o'clock.svg", alt="") 
                        span Пн-Пт 9:00 - 19:00
            
        ol.aside_ol_list 
            li.list_item О компании
            li.list_item Преимущества
            li.list_item Акционные товары
            li.list_item 
                button          
                    img(src="./assets/logos/user.svg", alt="")
                    span Войти в аккаунт










