doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="/assets/reviews-img/Group 282.svg")
        link(rel="stylesheet", href="../../css/main.css")
        title Collecttions
    body 
        //- Header include
        include ../components/header.pug
        //- Header include


        include ../components/hero-for-collection.pug
        //- footer include
        include ../components/footer-for-collection.pug
        //- footer include