footer.footer 
    .container.footer_container 
        .listes 
            ol.footer_list 
                li.list_item 
                    .logo 
                        img(src="../assets/logos/logo.svg" alt="")
                li.list_item 
                    p Все материалы данного сайта являются объектами авторского права.
                li.list_item
                    | Разработка сайта: ЛяЧиз 

            ol.footer_list 
                li.list_item 
                    b Компания
                li.list_item 
                    |О компании
                li.list_item
                    |Акции и скидки
                li.list_item
                    |Доставка и оплата
                li.list_item
                    |Отзывы
                li.list_item
                    |Гарантия и возврат

            ol.footer_list 
                li.list_item 
                    b Поддержка
                li.list_item 
                    |Вопрос-ответ
                li.list_item
                    |Бонусная программа
                li.list_item
                    |Политика конфиденциальности
                li.list_item
                    |Персональные данных

            ol.footer_list 
                li.list_item 
                    b Способы оплаты
                li.list_item.imgs_list_item
                    img(src="../assets/logos/ruble_icon.svg" alt="")
                    img(src="../assets/logos/vec_icon.svg" alt="")
                    img(src="../assets/logos/sberbank_icon.svg" alt="")
                    img(src="../assets/logos/yandex_icon.svg" alt="")
                    img(src="../assets/logos/mastercard_icon.svg" alt="")
                    img(src="../assets/logos/visa_icon.svg" alt="")

            ol.footer_list 
                li.list_item 
                    b +7 495 120-00-00
                li.list_item
                    img(src="../assets/logos/o'clock.svg" alt="") 
                    span Пн-Пт 9:00 - 19:00
                li.list_item
                    img(src="./assets/logos/location.svg" alt="") 
                    span г. Москва,  улица Свободы 1/7
                li.list_item.imgs_list_item
                    img(src="../assets/imgs/logo-instagram.png", alt="")
                    img(src="../assets/imgs/logo-vk.png", alt="")
                    img(src="../assets/imgs/logo-twitter.png", alt="")
                    img(src="../assets/imgs/logo-facebook.png", alt="")
                    img(src="../assets/imgs/logo-youtube.png", alt="")