
<footer class="footer"> 
  <div class="container footer_container"> 
    <div class="listes"> 
      <ol class="footer_list"> 
        <li class="list_item"> 
          <div class="logo"> <img src="../assets/logos/logo.svg" alt=""/></div>
        </li>
        <li class="list_item"> 
          <p>Все материалы данного сайта являются объектами авторского права.</p>
        </li>
        <li class="list_item">Разработка сайта: ЛяЧиз </li>
      </ol>
      <ol class="footer_list"> 
        <li class="list_item"> <b>Компания</b></li>
        <li class="list_item">
           О компании</li>
        <li class="list_item">Акции и скидки</li>
        <li class="list_item">Доставка и оплата</li>
        <li class="list_item">Отзывы</li>
        <li class="list_item">Гарантия и возврат</li>
      </ol>
      <ol class="footer_list"> 
        <li class="list_item"> <b>Поддержка</b></li>
        <li class="list_item">
           Вопрос-ответ</li>
        <li class="list_item">Бонусная программа</li>
        <li class="list_item">Политика конфиденциальности</li>
        <li class="list_item">Персональные данных</li>
      </ol>
      <ol class="footer_list"> 
        <li class="list_item"> <b>Способы оплаты</b></li>
        <li class="list_item imgs_list_item"><img src="../assets/logos/ruble_icon.svg" alt=""/><img src="../assets/logos/vec_icon.svg" alt=""/><img src="../assets/logos/sberbank_icon.svg" alt=""/><img src="../assets/logos/yandex_icon.svg" alt=""/><img src="../assets/logos/mastercard_icon.svg" alt=""/><img src="../assets/logos/visa_icon.svg" alt=""/></li>
      </ol>
      <ol class="footer_list"> 
        <li class="list_item"> <b>+7 495 120-00-00</b></li>
        <li class="list_item"><img src="../assets/logos/o'clock.svg" alt=""/><span>Пн-Пт 9:00 - 19:00</span></li>
        <li class="list_item"><img src="./assets/logos/location.svg" alt=""/><span>г. Москва,  улица Свободы 1/7</span></li>
        <li class="list_item imgs_list_item"><img src="../assets/imgs/logo-instagram.png" alt=""/><img src="../assets/imgs/logo-vk.png" alt=""/><img src="../assets/imgs/logo-twitter.png" alt=""/><img src="../assets/imgs/logo-facebook.png" alt=""/><img src="../assets/imgs/logo-youtube.png" alt=""/></li>
      </ol>
    </div>
  </div>
</footer>