
//- Hero Start
section.hero
    .container.hero_container
        .hero_end 
            .hero_carousels
                .left_carousel   
                    ol.carousel_list 
                        li.list_item.title  
                            img(src="../assets/logos/cheese.svg" alt="")
                            span Ингредиенты
                        li.list_item 
                            span Закваски для сыра
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Ферменты для сыра
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Хлористый кальций
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")             
                        li.list_item 
                            span Плесень для сыра
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Кисломолочные закваски
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Красители для сыра 
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item
                            span Специи для сыра
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="") 
                .left_carousel_2  
                    ol.carousel_list 
                        li.list_item.title  
                            img(src="../assets/logos/bowl.svg" alt="")
                            span Оборудование
                        li.list_item 
                            span Формы для сыра
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Латексное покрытие
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Воск для сыра
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")             
                        li.list_item 
                            span Термоусадочные пакеты
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Дренажные коврики
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item 
                            span Дренажные мешки и салфетки для прессования 
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="")
                        li.list_item
                            span Дренажные контейнеры
                            .dropright 
                                img(src="../assets/logos/dropright.svg" alt="") 
            .hero_products
                .product_btn#product_btn
                    button.active_btn#top_tovar Популярные товары 
                    button#aksiya Акции       


                .products_card_box
                    .first_box_card 
                        .products_title 
                            h2 Наборы для сыра
                        .products__container
                            .products_container-child
                                .products__cards
                                    .cards_title-imgs   
                                        img(src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt="")
                                        img(src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt="")
                                    .cards_big-img
                                        img(src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (1).png" alt="")
                                    .cards_info     
                                        h3 Набор для начинающих на 100 л молока
                                        p Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта
                                    .cards_footer
                                        h2 2400₽
                                        button Добавить
                                .products__cards
                                        .cards_title-imgs   
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt="")
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt="")
                                        .cards_big-img
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (2).png" alt="")
                                        .cards_info     
                                            h3 Набор для начинающих на 100 л молока
                                            p Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта
                                        .cards_footer
                                            h2 2400₽
                                            button Добавить
                                .products__cards
                                        .cards_title-imgs   
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt="")
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt="")
                                        .cards_big-img
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (3).png" alt="")
                                        .cards_info     
                                            h3 Набор для начинающих на 100 л молока
                                            p Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта
                                        .cards_footer
                                            h2 2400₽
                                            button Добавить
                                .products__cards
                                        .cards_title-imgs   
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt="")
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt="")
                                        .cards_big-img
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (4).png" alt="")
                                        .cards_info     
                                            h3 Набор для начинающих на 100 л молока
                                            p Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта
                                        .cards_footer
                                            h2 2400₽
                                            button Добавить
                                .products__cards
                                        .cards_title-imgs   
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt="")
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt="")
                                        .cards_big-img
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (5).png" alt="")
                                        .cards_info     
                                            h3 Набор для начинающих на 100 л молока
                                            p Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта
                                        .cards_footer
                                            h2 2400₽
                                            button Добавить
                                .products__cards
                                        .cards_title-imgs   
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Group 287.png" alt="")
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Vector.png" alt="")
                                        .cards_big-img
                                            img(src="/assets/img/ImgForAsliddin/cards__img/Rectangle 65 (6).png" alt="")
                                        .cards_info     
                                            h3 Набор для начинающих на 100 л молока
                                            p Набор ингредиентов для приготовления сыров Имеретинский, Моцарелла, Альметте, Качотта, Рикотта
                                        .cards_footer
                                            h2 2400₽
                                            button Добавить

//- Hero End