doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/assets/reviews-img/Group 282.svg")
        link(rel="stylesheet" href="../../css/main.css")
        title Recovery password
    body 
        //- Header include
        include ../components/header.pug

        .recovery-password_content
            .mini-header
                h2 Восстановить пароль
                p Введите адрес электронной почты Вашей учетной записи. Нажмите кнопку продолжить, чтобы<br> получить пароль по электронной почте.
            .mini-content
                .inputdev.needgrid
                    label(for="hek2") Электронная почта
                    input( id="hek2" type="text" placeholder="yourname@mail.com")
                button.createbtn Продолжить
                .trust-3 
                    h4  вас нет профиля??     
                        span   Создайте аккаунт
