section.second 
    .container.second_container
        .second_title
            h2 Наши преимущества
            p Мы лично отвечаем за качество товара и всегда 
             | с радостью поможем Вам с выбором

        .second_img#otzivi 
            img.img_1(src="../assets/logos/s6ir.svg", alt="cheese")
            img.img_2(src="../assets/logos/cloud.svg", alt="")