section.prosmotr 
    .container.prosmotr_container 
        .products_title 
            h2 Просмотренные товары
        .chevrons 
            img(src="../assets/logos/chevron_left.svg" alt="" id="chevronLeft")
            img(src="../assets/logos/chevron_right.svg" alt="" id="chevronRight")
        .prosmotr_cardes#prosmotr_cardes   
            .products_card_box 
                .first_box_card 

                    .product_cards
                        .product_card
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/zakvaska.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Мезофильная закваска Danisco...
                                .summa_and_btn 
                                    .summa 
                                        p 1300₽/ 
                                            span 1 шт.
                                        del 1800₽
                                    .btn
                                        button Добавить

                        .product_card  
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/goroshka.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Душистый перец горошком (100г)
                                .summa_and_btn 
                                    .summa 
                                        p 200₽/ 
                                            span 1 шт.
                                        del 320₽
                                    .btn
                                        button Добавить

                        .product_card 
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/termometr.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Красный перец молотый (100г)
                                .summa_and_btn 
                                    .summa 
                                        p 380₽/ 
                                            span 1 шт.
                                        del 400₽
                                    .btn
                                        button Добавить

                        .product_card 
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/orex.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Мускатный орех моло... (100г)
                                .summa_and_btn 
                                    .summa 
                                        p 420₽/  
                                            span 1 шт.
                                        del 560₽
                                    .btn
                                        button Добавить

                        .product_card
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/perets.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Форма для твердого сы... 1 кг
                                .summa_and_btn 
                                    .summa 
                                        p 1300₽/ 
                                            span 1 шт.
                                        del 1800₽
                                    .btn
                                        button Добавить

                        .product_card  
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/krsny_goroshka.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Душистый перец горошком (100г)
                                .summa_and_btn 
                                    .summa 
                                        p 200₽/ 
                                            span 1 шт.
                                        del 320₽
                                    .btn
                                        button Добавить

                        .product_card 
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/krasniy_perets.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Красный перец молотый (100г)
                                .summa_and_btn 
                                    .summa 
                                        p 380₽/ 
                                            span 1 шт.
                                        del 400₽
                                    .btn
                                        button Добавить

                        .product_card 
                            .card_in
                                .card_img 
                                    img(src="../assets/imgs/orex2.png" alt="cheeseshop.com")  
                                .checkes 
                                    img(src="../assets/logos/checked.svg" alt="")
                                    img(src="../assets/logos/check.svg" alt="")
                                .name
                                    p Мускатный орех моло... (100г)
                                .summa_and_btn 
                                    .summa 
                                        p 420₽/  
                                            span 1 шт.
                                        del 560₽
                                    .btn
                                        button Добавить

