.about {
    max-width: $max_width;
    margin-top: 3rem;

    .about_container {
        .about_boxes {


            .about_title {
                padding-bottom: 2rem;

                h2 {
                    font-size: 28px;
                    font-family: "Varela Round", sans-serif;
                }
            }

            .about_cardes {
                display: $d-flex;
                justify-content: $space-between;
                padding-bottom: 3.5rem;

                .about_card {
                    position: relative;
                    width: $about_card_max_width;
                    height: $about_card_height;
                    padding: $padding_y + 30 $padding_x - 30;
                    background: radial-gradient(circle, #ffffff, #D8D8D8);

                    &::after {
                        content: "";
                        position: absolute;
                        width: 500px;
                        background-repeat: no-repeat;
                        bottom: 2rem;
                        right: -7.2%;
                        height: 300px;
                        background-image: url('../../assets/logos/book.svg');
                    }

                    .card_title {
                        h3 {
                            font-family: $Circle_Rounded, sans-serif;
                            font-size: 25px;
                            text-transform: uppercase;
                            max-width: 55%;
                            padding-bottom: 1rem;
                        }

                        p {
                            font-family: $Circle_Rounded, sans-serif;
                            font-size: 16px;
                            width: 60%;
                            line-height: 30px;
                            padding-bottom: 5.5rem;
                        }

                        button {
                            position: relative;
                            z-index: 1;
                        }
                    }
                }


                .about_card_2 {
                    position: relative;
                    width: $about_card_max_width;
                    height: $about_card_height;
                    padding: $padding_y + 30 $padding_x - 30;
                    background: radial-gradient(circle, #503c3c, #4E2D2D);

                    &::after {
                        content: "";
                        position: absolute;
                        width: 500px;
                        background-repeat: no-repeat;
                        bottom: 2rem;
                        right: -13.2%;
                        height: 300px;
                        background-image: url('../../assets/logos/card_cheese_after_bg_img.svg');
                    }

                    .card_title {
                        color: $light_color;

                        h3 {
                            font-family: $Circle_Rounded, sans-serif;
                            font-size: 25px;
                            text-transform: uppercase;
                            max-width: 55%;
                            padding-bottom: 1rem;
                        }

                        p {
                            font-family: $Circle_Rounded, sans-serif;
                            font-size: 16px;
                            width: 60%;
                            line-height: 30px;
                            padding-bottom: 5.5rem;
                        }

                        button {
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }

            .about_title_2 {
                h2 {
                    font-size: 28px;
                    font-family: $Circle_Rounded , sans-serif;
                    padding-bottom: 1rem;
                }
            }

            .about_step {
                position: relative;
                max-width: $aboutStep_max_width;
                height: $aboutStep_height;
                background-image: url('../../assets/logos/about_second_bg_img.svg');
                background-repeat: no-repeat;
                padding: $padding_y + 40 $padding_x;
                margin-bottom: 3rem;
                .step_title{
                    h3{
                        font-size:24px;
                        font-family: $Circle_Rounded, sans-serif;
                        padding-bottom: $padding_y + 10;
                    }

                    p{
                        font-size: 16px;
                        font-family: $Circle_Rounded, sans-serif;
                        width: 35%;
                        line-height: 30px;
                        padding-bottom: 4rem;
                    }

                    button{
                        cursor: pointer;
                        margin-bottom: 2rem;
                    }
                    .navigation{
                        .chevrons{
                            margin-left: 15rem;
                            display: $d-flex;
                            gap: 20px;
                        }
                        .text{
                            width: 210px;
                            display: $d-flex;
                            .imgs{
                                position: relative;
                                margin-top: .5rem;
                                .black_line{
                                    position: absolute;
                                    left: 0;
                                    top: .75rem;
                                }
                            }
                        }
                    }

                }
                

                .step_img{
                    img{
                        position: absolute;
                        top: 0;
                        right: 0;
                        max-width: $aboutStep_max_width - 200;
                        height: $aboutStep_height;
                    }
                }
            }


            .centered_card{
                display: $d-flex;
                justify-content: $center;
                .about_centered_card{
                    width: 380px;
                    border-radius: 5px;
                    overflow: hidden;
                    height: 270px;
                    border: 1px solid #E7E7E7;
                    margin-bottom: 25rem;

                    .title{
                        padding: $padding_y $padding_y + 10;
                        h3{
                            font-family: $Circle_Rounded, sans-serif;
                            padding-bottom: 1rem;
                        }
                        p{
                            font-family: $Circle_Rounded, sans-serif;
                            line-height: 25px;
                            padding-bottom: .5rem;
                        }
                        a{
                            display: $d-flex;
                            color: #FD9339;
                            font-family: $Circle_Rounded, sans-serif;
                            border-bottom: 1px solid #FD9339;
                            width: 118.5px;
                        }
                    }
                }
            }
        }
    }
}