.active_btn {
    color: #fc9032 !important;
    border-bottom: 1px solid #fc9032 !important;
    padding: .2rem 0;
}


.d_none_block{
    display: block !important;
}

.d_none_block2{
    display: none !important;
}