.recovery-password_content{
    background-color: white;
    width: max-content;
    padding: 50px;
    border: 1px solid #E5E5E533;
    margin-left: 24%;
    margin-top: 40px;
}


.inputdev {
    display: grid;
    margin-top: 60px;
    width: max-content;

    label {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 5px;
        font-weight: 550;
    }

    input {
        padding: 14px;
        padding-right: 320px;
        margin-bottom: 20px;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        color: #BFBFBF;
    }
}
.mini-header{
    p{
        line-height: 22px;
        font-size: 16px;
        margin-top: 10px;
    }
}

.createbtn {
    margin-top: 10px;
    width: 217px;
    height: 52px;
    border: none;
    border-radius: 5px;
    background-color: #FD9339;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: Circe Rounded, sans-serif;
}
.trust-3 {
    // margin-left: 170px;
    margin-top: 80px;
  }
  .trust-3 span {
    color: #FD9339;
    text-decoration: underline;
  }